# -*- mode: Makefile; -*-
##
## vmfedora.cfg
##  
## Made by Edison Mera
##
## Started on  Sun Apr 12 16:49:45 2009 Edison Mera
## Last update Fri Jan 29 18:48:43 2010 Edison Mera
## 

## ----------------------------------------------------------------------------
## Note: This file is part of the Ciao Bot. Its source is in the
## Ciao repository, only change it in a working copy, otherwise the
## changes made by you will be lost.
## ----------------------------------------------------------------------------

# Config file for Fedora 10 (LINUXi86)

CONFIGURE_VARS=
CONFIGURE_OPTS=--silent=true \
	--instype=global \
	--update_dotemacs=no --update_dotxemacs=no \
	--update_bashrc=no --update_cshrc=no \
	--with_gsl=no --gen_ciaopp_asr=yes
INSTALL_VARS=ROOTPREFIX=$(ROOTPREFIX)
UNINSTALL_VARS=ROOTPREFIX=$(ROOTPREFIX)

# The packing option use a default packager, but you can configure other
# packaging method here:

gen_pbundle__host_$(HOSTNAME):
	$(MAKECMD) gen_pbundle__rpm
	$(MAKECMD) gen_pbundle__osarch_cross_debian

install_pbundle__host_$(HOSTNAME):

uninstall_pbundle__host_$(HOSTNAME):

# The name of the produced packages (for example, in fedora is
# CiaoDE-1.13.0-7689.i386.rpm)

PRODUCED_PBUNDLE_ITEMS=1 2

PRODUCED_PBUNDLE_ITEM[1]=$(PBUNDLE_BASE).i386.rpm
STORED_PBUNDLE_ITEM[1]=$(PRODUCED_PBUNDLE_ITEM[1])

PRODUCED_PBUNDLE_ITEM[2]=ciaode_$(CIAOVERSION)-$(NEWVERSION)_i386.deb
STORED_PBUNDLE_ITEM[2]=$(PBUNDLE_BASE).i386.deb

#	ciao-$(CIAOVERSION)-$(NEWVERSION).i386.rpm \
#	ciaopp-$(CIAOPPVERSION)-$(NEWVERSION).i386.rpm \
#	lpdoc-$(LPDOCVERSION)-$(NEWVERSION).i386.rpm

#	ciao-v$(CIAOVERSION)-$(NEWVERSION).i386.rpm \
#	ciaopp-v$(CIAOPPVERSION)-$(NEWVERSION).i386.rpm \
#	lpdoc-v$(LPDOCVERSION)-$(NEWVERSION).i386.rpm

# Specifies if the generated logs must be copied to the master machine:

BACKUP_LOG=yes
