h1 {
  font-size: 32px;
  font-family: 'trebuchet ms', tahoma, verdana, arial, helvetica;
  text-align: center;
  color: #000;
//  text-shadow: 0px 2px 3px #448;
}
.subtitle {
  text-align: center;
  color: #333;
  font-size: 14;
}
h4 { 
  color: black;
//  text-shadow: 0px 2px 2px #444;
}
body { 
//  font-family: 'trebuchet ms', tahoma, verdana, arial, helvetica;
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  font-size: 13px;
  font-weight: 300;
  font-variant: normal;
  font-style: normal;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
  background: #f8f8f8;
}
.page {
  width: 800px;   
  margin: 3em auto 2em auto;
}

/* --------------------------------------------------------------------------- */

.solbox {
  font-family: "Courier New", "Andale Mono", monospace;
//  font-family: lucida console, monaco, monospace;
//  font-family: monospace;
  font-size: 14;
  border: 1px solid #eee; padding: 4px;
  background: #FFEBD6;;
  color: #000;
//  overflow: hidden;
  overflow: auto;
//  wrap-option: emergency;
  //  width: 300px;
}
.problembox {
  border: 1px solid #eee; padding: 8px;
  background: #fff;
  color: #777;
  width: 700px;
  margin: 2px auto 2px auto;
}
.problembox form {
  margin: 0px;
  padding: 0px;
}
.problembox h2 {
  font-family: "Courier New", "Andale Mono", monospace;
//  font-family: 'trebuchet ms', tahoma, verdana, arial, helvetica;
//  font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
  font-size: 14;
//  font-weight: normal;
  font-weight: bold;
  color: #000;
}
.timerbox {
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  font-size: 13px;
  font-weight: 300;
  font-variant: normal;
  font-style: normal;
  font-size: 12;
//  font-weight: bold;
//  padding: 8px; margin: 0px;
  color: #000;
}

/* --------------------------------------------------------------------------- */

button {
  -webkit-appearance: square-button;
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  font-size: 12px;
  font-weight: 300;
  font-variant: normal;
}

/* --------------------------------------------------------------------------- */

.sourcebox { 
  height: 16em;
  width: auto;
  overflow: auto;
  border: 1px solid #888;
}
.sourcebox pre { 
  font-family: "Courier New", "Andale Mono", monospace;
//  font-family: lucida console, monaco, monospace;
//  font-family: monospace;
  font-size: 14;
  font-weight: normal;
  color: #000;
  margin: 0px;
//  font-weight: bold;
}

/* --------------------------------------------------------------------------- */

button.sourceview {
  border: none;
  color: #0040a0;
  background-color: transparent;
  text-decoration: underline;
  padding: 0;
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  font-size: 13px;
  font-weight: 300;
  font-variant: normal;
}

/* --------------------------------------------------------------------------- */

.chessboard {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    -webkit-transform: perspective(500px) rotateX(30deg);
}

.chesspiece1 {
//  font-family: Arial Unicode MS;
  font-size: 32px;
  width: 42px; height: 42px;
  text-align: center;
  background: #f66;
  color: white;
  text-shadow:
      -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black,
      2px 2px 4px black;
}
.chesspiece2 {
//  font-family: Arial Unicode MS;
  font-size: 32px;
  width: 42px; height: 42px;
  text-align: center;
  background: #d92626;
  color: white;
  text-shadow:
      -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black,
      2px 2px 4px black;
}


