[submodule "fuzzy_logic/flese-utils/jquery.git"]
	path = fuzzy_logic/flese-utils/jquery.git
	url = git://github.com/jquery/jquery.git
[submodule "fuzzy_logic/flese-utils/qTip2.git"]
	path = fuzzy_logic/flese-utils/qTip2.git
	url = https://github.com/Craga89/qTip2.git
[submodule "fuzzy_logic/flese-utils/form.git"]
	path = fuzzy_logic/flese-utils/form.git
	url = https://github.com/malsup/form.git
[submodule "fuzzy_logic/flese-utils/socialauth"]
	path = fuzzy_logic/flese-utils/socialauth
	url = https://github.com/3pillarlabs/socialauth.git
[submodule "fuzzy_logic/flese-utils/highcharts.com.git"]
	path = fuzzy_logic/flese-utils/highcharts.com.git
	url = https://github.com/highslide-software/highcharts.com.git
[submodule "fuzzy_logic/flese-utils/jquery-ui.git"]
	path = fuzzy_logic/flese-utils/jquery-ui.git
	url = https://github.com/jquery/jquery-ui.git
[submodule "fuzzy_logic/flese-utils/jena.git"]
	path = fuzzy_logic/flese-utils/jena.git
	url = https://github.com/apache/jena.git
[submodule "fuzzy_logic/flese-utils/slf4j.git"]
	path = fuzzy_logic/flese-utils/slf4j.git
	url = https://github.com/qos-ch/slf4j.git
[submodule "fuzzy_logic/flese-utils/oltu.git"]
	path = fuzzy_logic/flese-utils/oltu.git
	url = git://git.apache.org/oltu.git
