*.pl~
*.P~
*.xwam
*.po
*.itf
*_co.pl
*.ast
*.asr
*_shfr_co.pl 
*_co.pl 
*_shfr_co* 
*~
*.class
\#*.*\#
.\#*
packed/*
debug_file*.pl
debug_pkg_*.pl
debug_file_of_file_*.txt
debug_pkg_cneg_statistics.pl
*.\$\$\$
*/.svn/*
.svn/
build/

fuzzy_logic/flese-utils/Highcharts-3.0.9/*
fuzzy_logic/flese-utils/Jena-2.6.4/*
fuzzy_logic/flese-utils/jena.git/*/target
fuzzy_logic/flese/core
fuzzy_logic/flese/hs_err_pid*.log

fuzzy_logic/.metadata/
fuzzy_logic/.recommenders/
fuzzy_logic/RemoteSystemsTempFiles/
fuzzy_logic/Servers/
