*.pl~
*.P~
*.xwam
*.po
*.itf
*_co.pl
*.ast
*.asr
*_shfr_co.pl 
*_co.pl 
*_shfr_co* 
*~
*.class
\#*.*\#
.\#*
packed/*
debug_file*.pl
debug_pkg_*.pl
debug_file_of_file_*.txt
debug_pkg_cneg_statistics.pl
*.\$\$\$
*/.svn/*
.svn/
build/
