{% extends "base.html" %}

{% block content %}
<div id="block-text" class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><a href="/concept/list/">Concepts</a></li>
      <li><a href="/negation/list/">Negations</a></li>
      <li><a href="/quantification/list/">Quantification</a></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title">{{ name }}</h2>

    <div class="inner" id="{{name}}_data">
    <h4><a href="/{{name}}/add/">Add new {{name}}</a></h4>
          {% for entity in entities %}
           <p> {{ entity }} <a href="/{{name}}/edit?pk={{ entity.pk }}">(edit functions)</a></p>
          {% endfor %}

    </div>
  </div>
</div>
{% endblock %}
