file       = '../general.html'.
frame      = file( 'ciaopp_basic.html' ).
page_title = 'Welcome to CiaoPP Web Service'.
title      = 'Ciaopp Online Demo'.
inside_emacs = file( 'emacs_empty.html' ).
emacs_text = 'Please type into this window the program you would like CiaoPP to process. 

By clicking on the \'Open File\' button you can also load into this
window a number of sample programs or a file from your computer. 

Then, you can select the \'Analyze\', \'Check Assertions\', or \'Optimize\'
buttons above to perform the most standard tasks.

You can perform other tasks and modify the behavior of CiaoPP in many
ways by clicking on the rightmost button.'.

