@CHARSET "UTF-8";

/* C S S   S T Y L E  */

/* definiciones globales */
html {
  font-family: "Helvetica Neue",
               /*"Helvetica",*/
               "Verdana",
               "Nimbus Sans L", "Nimbus Sans",
               "Arial",
               "Lucida Grande", "Lucida Sans",
               "Luxi Sans", "Tahoma",
                sans, sans-serif;
  font-size: 10pt;
  margin: 0;
  margin-bottom: 2em;
  padding: 0;
}

body {
    background-color: #fff;
    color: #000;
    margin: 0.5em;
    padding: 0.5em;
    width:80%;
}

/* Encabezamientos y p�rrafos */
h1 {
    color: #000;
    font-size: large;
    font-weight:600;
    margin: 0em;
    padding:0em;
    /* border-top: 3px #f00 solid; */
    text-align:left;
}

h2 {
    color: #000;
    font-size: larger;
    font-weight:500;
    text-align:left;
    /* border-bottom: 1px solid #fbb; */
    width: 80%;
    margin-left: 0.2em;
/*     background-color: #fff8ec; */
/*     border: 1px solid #330000; */
   /*  font-variant: small-caps; */
    /*  border-top: 1px solid #f00; */
}

p {
    padding-top: 0em;
    text-align: justify;
}

p.up {
    text-align: right;
}

/* Definicion de estilos de Links */
a {
    color:#09c;
    text-decoration:none;
}

a:link {
    color:#FB6D1D;
}

a:visited {
    color:#07a;
}

a:hover {
    color: #0ba;
}

a:hover {
    /*background-color:#0ba;*/
}

/* Clase que decora su elemento */
.dec {
    background-color:#eee;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    font-weight:600;
    padding-bottom: 3px;
    padding-top: 3px;
}

/* DESCRIPTION LISTS */

dl {
    padding-top: 0em;
    text-align: justify;
}

dt {
     text-indent: 0em;
     font-weight: 700;
}

dd {
    text-indent: -0em;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

/* Ejemplo de c�digo fuente. */
pre {
    font-family: Courier, "Courier New", monospace;
    background-color: #f3faf4;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border: 1px #d8d8d8 solid;
}

table {
    border: 1px solid #999;
}

td {
    border: 1px solid #999;
}

tr {
    border: 1px solid #999;
}

/* Members style. */
ul.members {
    list-style-type: none;
}

.members li {
    background-color: #FFD;
    border: 2px solid black;
    margin: 5px;
    padding: 1px;
    margin-right: 20px;
}

.members li:hover {
    background-color: #FFA;
}

ul.sqr { list-style: square; }
.sqr li { margin-bottom:6px; }

/* Barra de men� lateral ========================*/
.sidebar {
    /* should be aligned with logo */
    /* padding-left: 7px;*/
    border-top: 3px #f00 solid;
    color: #FFFFFF;
    background-color: #fff8dc;
    height: 470px;
}

.sidebar a{
/*  color: #FFFFFF;*/
}

.sidebar li:hover {
    background-color: #fff;
    /*  margin-top: 1px;*/
    /*  margin-bottom: 1em;*/
    border-bottom: 1px #fff solid;
}

.sidebar li:link{

}

.sidebar li {
    height: 1.5em;
    background-color: #fff8dc;
    border-top: 1px #fff solid;
    border-bottom: 1px #ffe4c4 solid;
    text-align: left;
    vertical-align: middle;
    text-transform: uppercase;
    font-family: Sans, "Trebuchet MS";
    padding-left: 7px;
    color: #f00;
}

/*-----------------------------------------------*/

/*  L A Y O U T  */

/* Contenedores */
#Body {
    position: absolute;
    top: 0px;
    background-color: #fff;
    color: #000;
    margin: 0px;
    padding: 0%;
}

#Header {
/*     position: absolute; */
    top: 0px;
    left: 0px;
    font-size: 8pt;
    background-color:#292929;
    width: 700px;
    /* should be aligned with items in sidebar */
    margin:0px;
    padding-top: 0px;
    padding-left: 7px;
    height: 50px;
}

div {
    margin:0px;
    padding: 0px;
}
#HeaderLogo {
    position: relative;
    top: 16px;
    left: 5px;
    float: left;
}
.babelimg {
    position: relative;
    top: 5px;
    margin: 0px;
    padding: 0px;
    height: 40px;
    border: #FB6D1D solid 1px;
    float: left;
    }
#HeaderOut{
    position: relative;
    margin-top: 12px;
    float: right;
    right: 5px;
    bottom: 3px;
}

#Content {
/*     position: absolute;  */
    top: 50px;
    margin-top: 10px;
    margin-left: 130px;
    width: 570px;
    padding: 0px;
}

#Footer {
          font-size: smaller;
          width: 700px;
          margin-top: 2em;
          clear: both;
}

#Footer p {
            text-align: right;
            }

#Footer img {
            border: none;
            }

#LSide {
/*     position: absolute;  */
    float: left;
    top: 50px;
    margin-top: 10px;
    width: 120px;
}

#RSide {
  float: right;
  margin-right: 1ex;
  overflow: hidden;
}

#FileListing {
               font-family: Courier, "Courier New", monospace;
               font-size: 11pt;
               background-color: #f3faf4;
               margin-left: 2em;
               margin-right: 2em;
               margin-top: 2em;
               padding: 10px;
               border: 1px #d8d8d8 solid;
               }

#FileListing table {
                     border: none;
                    }
#FileListing td {
                  border: none;
                  padding-left: 1em;
                  }
/**************************/
span#Label {
  font-size: smaller;
}

input#Words {
  width: 10em;
}

ul#Menu {
  list-style: none;
  margin: 0;
  /*display: inline-block;*/
  vertical-align: middle;
  padding-left: 1px;
  padding-right: 1px;
}

li.menuHeader {
  border: 3px #000 solid;
}

body#secMain         #Menu li#Main,
body#secMembers      #Menu li#Members,
body#secResearch     #Menu li#Research,
body#secProjects     #Menu li#Projects,
body#secPublications #Menu li#Publications,
body#secResources    #Menu li#Resources,
body#secSoftware     #Menu li#Software,
body#secJobs         #Menu li#JobOpenings,
body#secTeaching     #Menu li#Teaching,
body#secLinks        #Menu li#Links,
body#secConferences  #Menu li#Conferences     {
                                          background-color: #0ba;
                                          /*border-right: 8px #0ba solid;*/
                                          }

/*
li#Menu {
  display: inline;
}
*/

.bold {
  font-weight: bold;
}
.small {
  font-size: smaller;
}

.Talk {
        border: 1px solid #cccccc;
        padding-left: 1em;
        padding-right: 1em;
        }

h3 {
     color: #000;
     font-size: 115%;
     font-weight: 600;
     text-align: left;
 }

.title {
               border-bottom: 2px solid #ff0000;
               font-size: 130%;
               }
.AuthorData {
              margin-left: 2em;
              border: 1px solid black;
              padding: 1px;
              height: 7em;
/*               height: 80px;  */
              }
.AuthorImg {
             float: left;
            }
.AuthorImg img {
                 height: 7em;
                 }
.AuthorText {
              margin-top: 15px;
              margin-left: 78px;
              }

.speaker {
                 position: static;
                 padding: 0px;
                 margin: 0px;
                 border-bottom: 1px solid #cc1111;
                 }

.affiliation {
                     padding: 0px;
                     margin: 0px;
                     }


.test {
    float: left;
    margin-right: 6px;
    margin-top: 16px;

}

#bodyHead {
	width:90%;
}

#bodyHeadTitle {
	border:1px solid black;
	text-align:center;
	width:70%;
	padding:1em;
}

#bodyHeadLogged {
	border:1px solid black;
	text-align:center;
	width:20%;
	padding:0.5em;
}

#bodyHeadLogout {
	border:1px solid black;
	text-align:center;
	width:10%;
	padding:0.5em;
}

.providersIcons td {
	border:1em;
	padding:1em;
}

.programFileChosen td {
	border:0.1em solid #cccccc;
	margin:0.2em;
	padding:0.2em;
}

/* Super obsolete code */
/* h1 a, h1 a:link, h1 a:visited {  */
/*     color: #000;  */
/* } */

/* h1 a:hover {  */
/*     background-color: #000;  */
/* } */


