@CHARSET "UTF-8";

/* C S S   S T Y L E  */

/* definiciones globales */
html {
  font-family: "Helvetica Neue",
               /*"Helvetica",*/
               "Verdana",
               "Nimbus Sans L", "Nimbus Sans",
               "Arial",
               "Lucida Grande", "Lucida Sans",
               "Luxi Sans", "Tahoma",
                sans, sans-serif;
  font-size: 10pt;
  margin: 0;
  margin-bottom: 2em;
  padding: 0;
}

body {
    background-color: #EBE8D9;
    color: #000;
    margin: 0.5em;
    padding: 0.5em;
    width:80%;
}

/* Encabezamientos y p�rrafos */
h1 {
    color: #000;
    font-size: large;
    font-weight:600;
    margin: 0em;
    padding:0em;
    text-align:left;
}

h2 {
    color: #000;
    font-size: larger;
    font-weight:500;
    text-align:left;
    /* width: 80%; */
    margin-left: 0.2em;
}

p {
    padding-top: 0em;
    text-align: justify;
}

p.up {
    text-align: right;
}

/* Definicion de estilos de Links */
a {
    color:#395BED;
    text-decoration:none;
}

a:link {
    color:#395BED;
}

a:visited {
    color:#395BED;
}

a:hover {
    color:#395BED;
}


/* Clase que decora su elemento */
.dec {
    background-color:#eee;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    font-weight:600;
    padding-bottom: 3px;
    padding-top: 3px;
}

/* DESCRIPTION LISTS */

dl {
    padding-top: 0em;
    text-align: justify;
}

dt {
     text-indent: 0em;
     font-weight: 700;
}

dd {
    text-indent: -0em;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

/* Ejemplo de c�digo fuente. */
pre {
    font-family: Courier, "Courier New", monospace;
    background-color: #f3faf4;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border: 1px #d8d8d8 solid;
}

table {
    border:1px solid #000000;
    /*border-collapse:collapse;*/
}

.withoutBorder table, #withoutBorder table {
    border:none;
    border-style:hidden;
    border-width:0px;
    border-collapse:collapse;
}

th, td, tr {
	border:none;
	margin:1px;
	padding:0.5em;
	/* border-collapse:collapse; */
	border-style:hidden;
	/* border-color:transparent; */
	border-width:0px;
	/* color:white; */
	align:center;
	vertical-align:center;
	text-align:center;
}

/* Members style. */
ul.members {
    list-style-type: none;
}

ul.sqr { list-style: square; }
.sqr li { margin-bottom:6px; }

/*-----------------------------------------------*/

/*  L A Y O U T  */

/* Contenedores */
#Body {
    position: absolute;
    top: 0px;
    background-color: #fff;
    color: #000;
    margin: 0px;
    padding: 0%;
}

#Header {
/*     position: absolute; */
    top: 0px;
    left: 0px;
    font-size: 8pt;
    background-color:#292929;
    width: 700px;
    /* should be aligned with items in sidebar */
    margin:0px;
    padding-top: 0px;
    padding-left: 7px;
    height: 50px;
}

div {
    margin:0px;
    padding: 0px;
}
#HeaderLogo {
    position: relative;
    top: 16px;
    left: 5px;
    float: left;
}
.babelimg {
    position: relative;
    top: 5px;
    margin: 0px;
    padding: 0px;
    height: 40px;
    border: #FB6D1D solid 1px;
    float: left;
}

h3 {
     color: #000;
     font-size: 115%;
     font-weight: 600;
     text-align: left;
 }


#bodyHead {
	width:90%;
}

#bodyHeadTitle {
	border:1px solid black;
	text-align:center;
	width:70%;
	padding:1em;
}

#bodyHeadLogged {
	border:1px solid black;
	text-align:center;
	width:20%;
	padding:0.5em;
}

#bodyHeadLogout {
	border:1px solid black;
	text-align:center;
	width:10%;
	padding:0.5em;
}

.providersIcons td {
	border:1em;
	padding:1em;
}

.programFileChosen td {
	border:0.1em solid #cccccc;
	margin:0.2em;
	padding:0.2em;
}



