@CHARSET "UTF-8";

/* C S S   S T Y L E  */

/* definiciones globales */
html {
  font-family: "Helvetica Neue",
               /*"Helvetica",*/
               "Verdana",
               "Nimbus Sans L", "Nimbus Sans",
               "Arial",
               "Lucida Grande", "Lucida Sans",
               "Luxi Sans", "Tahoma",
                sans, sans-serif;
  font-size: 10pt;
  margin: 1em;
  margin-bottom: 2em;
  padding: 0;
  width:90%
}

body {
    background-color: #EBE8D9;
    color: #000000;
    margin: 1em;
    padding: 1em;
    width:100%;
    text-align:left;
}

hr {
	margin: 1em;
	padding: 0em;
    width:100%;
}

/* Encabezamientos y p�rrafos */
h1 {
    font-size:175%;
}

h2 {
    font-size:150%;
}

h3 {
	font-size:125%;
}

p {
	font-size:100%;
    text-align: justify;
}

/* Links definition */
a, a:link, a:visited, a:hover {
    color:#395BED;
    text-decoration:none;
}

/* DESCRIPTION LISTS */

dl {
    padding-top: 0em;
    text-align: justify;
}

dt {
     text-indent: 0em;
     font-weight: 700;
}

dd {
    text-indent: -0em;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

/* Ejemplo de c�digo fuente. */
pre {
    font-family: Courier, "Courier New", monospace;
    background-color: #f3faf4;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border: 1px #d8d8d8 solid;
}

table {
    border:1px solid #000000;
    /*border-collapse:collapse;*/
}

table.withoutBorder  {
    border:none;
    border-style:hidden;
    border-width:0px;
    border-collapse:collapse;
}

th.withoutBorder, td.withoutBorder, tr.withoutBorder {
	border:none;
	margin:1px;
	padding:0.5em;
	/* border-collapse:collapse; */
	border-style:hidden;
	/* border-color:transparent; */
	border-width:0px;
	/* color:white; */
	align:center;
	vertical-align:center;
	text-align:center;
}

div {
    margin:0px;
    padding: 0px;
}

/*-----------------------------------------------*/

.underline {
	text-decoration:underline;
}

.indexPageTitle {
	font-size:250%;
	text-align:center;
}
.indexPageTitleExplanation {
	font-size:200%;
	text-align:center;
}

.indexPageImportantLink,
a.indexPageImportantLink, a.indexPageImportantLink:link, 
a.indexPageImportantLink:visited, a.indexPageImportantLink:hover {
	color:red;
	text-color:red;
	font-size:125%;
	text-align:center;
}
.indexPageSubTitle {
	text-decoration:underline;
	font-size:175%;
	margin:0.5em;
}
.indexPageText {
	font-size:125%;
}

#HeaderLogo {
    position: relative;
    top: 16px;
    left: 5px;
    float: left;
}

.babelimg {
    position: relative;
    top: 5px;
    margin: 0px;
    padding: 0px;
    height: 40px;
    border: #FB6D1D solid 1px;
    float: left;
}

table.bodyHead, tr.bodyHead {
	border:1px solid black;
	text-align:center;
	padding:0em;
	width:100%;
}

td.bodyHead { 
	border:1px solid black;
	padding:0.5em; 
}

#bodyHeadTitle {
	width:60%;
	padding:1em;
	font-size:200%;
}

#bodyHeadLogged { width:30%; font-size:125%;}
#bodyHeadLogout { width:10%; font-size:125%;}

td.providersIcons  {
	border:1em;
	padding:1em;
}

td.programFileChosen  {
	border:0.1em solid #cccccc;
	margin:0.2em;
	padding:0.2em;
}

li.bodyToUserMsgs {
	color:red;
}

table.fileViewTable {
	padding:1em;
	width:100%;
}

table.programFilesTable, td.programFilesTable {
	border:0.1em solid #000000;
	border-color:black;
	padding:0.4em;
	margin:0.2em;
	align:center;
	text-align:center;
}

th.programFileChosen, td.programFileChosen {
	padding:0.5em;
}

table.queryResults {
	border:0.1em solid #000000;
}
tr.queryResults, th.queryResults, td.queryResults {
	border:0.1em solid #000000;
	border-color:black;
	padding:0.6em;
	margin:0.2em;
	align:center;
	text-align:center;
}

div#qTip {
 padding: 3px;
 border: 1px solid #666;
 border-right-width: 2px;
 border-bottom-width: 2px;
 display: none;
 background: #999;
 color: #FFF;
 font: bold 9px Verdana, Arial, sans-serif;
 text-align: left;
 position: absolute;
 z-index: 1000;
}
