/* CSS Style for the website
 *
 * Author: Jose F. Morales
 *   <jfmcjf@gmail.com>
 *   <jfran@clip.dia.fi.upm.es> 
 *   <josef.morales@imdea.org> 
 */

html {
    /* do not force a scroll-bar */
    overflow: auto;
}

body, html {
    /* background: #abb5ba; */ /*hsl(200,10%,70%);*/
    background: #889097;
}

body {
    margin: 0px;
    text-align: left;
    font-size: 10pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 24px;
    border-radius: 5px;

    /* hsl(220,10%,30%) = #454a54 */
    -moz-box-shadow:
      2px 2px 4px 0px #454a54;
    -webkit-box-shadow:
      1px 1px 4px 0px #454a54;
    box-shadow:
      2px 2px 4px 0px #454a54;
    /*
    -moz-box-shadow:
      2px 2px 32px 0px #454a54,
      2px 2px 4px 0px #454a54;
    -webkit-box-shadow:
      2px 2px 32px 0px #454a54,
      2px 2px 4px 0px #454a54;
    box-shadow:
      2px 2px 32px 0px #454a54,
      2px 2px 4px 0px #454a54;
    */
}

.logo {
    margin-left: 16px;
}

.title {
    height: 70px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left: 16px;
    padding-right: 0px;
    border-bottom: 1px solid #aaa;
    background-color: #e0e0e4;
    background-image: url("../images/bgtowhite.png"); 
    background-repeat: repeat-x;
    background-position: 0px 0px; 

    border-radius: 5px 5px 0px 0px;
}

.section_image {
    padding: 0px;
    margin: 0px;
}

div.nav {
/*    background: #000; */
/*   color: white; */
}
.nav a, .nav a:visited, .nav a:active, .nav a:link, .nav a:hover {
/*   color: #fff; */
}

/* selected menu item */
.selmenu {
}
a.selmenu {
    padding: 2px;
    padding-left: 8px;
    margin: 0px;
    display: block;
    color: #fff;
    text-decoration: none;
}
a.selmenu:visited, a.selmenu:active, a.selmenu:link {
    background: #4263ab;
}
a.selmenu:hover {
    background: #0645AD;
}
/* unselected menu item */
.unselmenu {
}
a.unselmenu {
    padding: 2px;
    padding-left: 8px;
    margin: 0px;
    display: block;
    color: #fff;
    text-decoration: none;
}
a.unselmenu:visited, a.unselmenu:active, a.unselmenu:link {
    color: #4263ab;
}
a.unselmenu:hover {
    background: #0645AD;
    color: #fff;
}
/* phony menu item (just group together other items) */
.phonymenu {
    color: #000;
    padding: 2px;
    padding-left: 8px;
    margin: 0px;
    display: block;
}

div.sidebar p {
    margin-left: 0px;
}

div.sidebar ul {
    margin-left: 0px;
    list-style-type: none;
    padding-left: 0px;
    margin: 0px;
}

div.sidebar li {
    list-style-type: none;
    padding-left: 8px;
    margin: 0px;
}

/* --------------------------------------------------------------------------- */

div.documentwrapper {
    background: #fff;
    border-radius: 5px 5px 0px 0px;
}
div.document {
    float: left;
    width: 100%;
}

div.mainwrapper {
    margin: 0 230px 0 0;
}
div.main {
    border: 0px;
    background-color:#fff;
    color: #000000;
    padding: 1px 20px 30px 40px;
}
div.sidebarwrapper {
    float:right;
    width:230px;
    margin-left: -100%;
}
div.sidebar {
    /* padding:10px 10px 10px 20px; */
    margin: 10px;
    margin-right: 24px;
    background: #f0f8ff;
    padding-left: 0px;
    border-radius: 5px;

    -moz-box-shadow:
      4px 4px 16px 0px #7ba4cb,
      2px 2px 4px 0px #7ba4cb;
    -webkit-box-shadow:
      4px 4px 16px 0px #7ba4cb,
      2px 2px 4px 0px #7ba4cb;
    box-shadow:
      4px 4px 16px 0px #7ba4cb,
      2px 2px 4px 0px #7ba4cb;
}

/* --------------------------------------------------------------------------- */

.footer {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-top: 30px;
    padding-bottom: 0px;
    padding-left: 64px;
    padding-right: 64px;
    border-radius: 0px 0px 5px 5px;

    /* hsl(200,10%,80%) = #c7ced1 */
    /* hsl(200,10%,90%) = #e3e6e8 */

    border-top: 1px solid #c7ced1;
    background: #e3e6e8;
}
div.footer {
    /* hsl(200,10%,60%) = #8f9ca3 */
    color: #8f9ca3;
    font-size: 8pt;
}
div.footer a {
    color: #000;
    text-decoration: underline;
}

.page {
    background: white;
    min-height: 300px;
    padding-left: 64px;
    padding-right: 64px;
    margin-top: 0px;
    padding-top: 1px;
    padding-bottom: 32px;
}

/* --------------------------------------------------------------------------- */
/* Search box */

.searchbox {
    float: right;
/*    margin: 0px; */
/*    padding: 0px; */
/*    position: absolute; */
/*    top: 18px; */
/*    left: 230px; */ /* same than width of sidebarwrapper */
/*  float: left; */
}

.searchbox input[type=text] {
  background: #fff;                  
  color: #000;
  border-left: 1px solid #a0a0a0;
  border-bottom: 1px solid #a0a0a0;
  border-top: 1px solid #a0a0a0;
  border-right: 0px;
  padding: 2px;
  margin: 0px;

  -moz-box-shadow: inset 1px 1px 1px #ddd;
  -webkit-box-shadow: inset 1px 1px 1px #ddd;
  box-shadow: inset 1px 1px 1px #ddd;
}

.searchbox input[type=submit] {
  background: #f0f0f0;
  color: #000000;                  
  border: 1px solid #a0a0a0;
  padding: 2px;
  margin: 0px;
  padding-left: 16px;
  padding-right: 16px;
}
.searchbox input[type=submit]:hover {
  background: #e8e8e8;
  border: 1px solid #a8a8a8;
}
.searchbox input[type=submit]:active {
  background: #d0d0d0;
  border: 1px solid #909090;
}

/* --------------------------------------------------------------------------- */

hr {
    border-top: 1px solid #aaa;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
}

li {
    margin: .4em;
}

table {
    border: none;
    font-size: 10pt; /* necessary for mail archives */
}

td {
    border: none; 
    padding: .1em .7em .1em .3em;
}

th {
    border: none;
}

dt {
    font-style: italic;
}

code {
    font-size: 100%;
}

img {
    border: none;
}

#main_frame {
}

#main_frame_content {
   padding: 0px;
}

#main_frame_content p {
}

/* TODO: remove */
.applname {
}

.download {
    margin: 8px;
    padding: 8px;
}

.download_table {
/*    border-collapse: collapse; */
/*    border: 1px solid #ccc; */
/*   margin-top: 15px ; */
}

.download_table thead {
/*   background-color: #ffdd00 ; */
/*   color: #006bff ; */
}

.download_table th, .download_table td {
/*    border: 1px dotted #ccc; */
/*    background-color: #eee; */
}

/*.download_table a, .download_table a:visited, .download_table a:active, .download_table a:link { */
/*   color: #000; */
/*   font-weight: normal; */
/*   text-decoration: none; */
/*   border-bottom: 0px; */
/*} */
/*.download_table a:hover { */
/*   color: #000; */
/*   font-weight: normal; */
/*   text-decoration: none; */
/*   border-bottom: 0px; */
/*} */

