Source: oracle-java-pkg-for-debian
Priority: optional
Maintainer: Victor Pablos Ceruelo <vpablos@babel.ls.fi.upm.es>
Build-Depends: bash, bash-static, tar, bzip2, wget
Standards-Version: 3.7.2
Section: devel

Package: oracle-java-pkg-for-debian
Section: devel
Architecture: i386 amd64 powerpc
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: bash
Replaces: sun-java6-jre, sun-java6-jdk, openjdk-6-jre, openjdk-7-jre, openjdk-6-jdk, openjdk-7-jdk, default-jre, default-jdk
Conflicts: sun-java6-jre, sun-java6-jdk, openjdk-6-jre, openjdk-7-jre, openjdk-6-jdk, openjdk-7-jdk, default-jre, default-jdk
Provides: java6-runtime, java7-runtime, java6-sdk, java7-jdk, java6-runtime, java7-runtime, java6-runtime-headless, java7-runtime-headless, default-jre, default-jdk
Description: Scripts to download and install java sdk from oracle. It avoids the installation of old java6 and openjre or openjdk.
