Source: ciao-prolog
Priority: optional
Maintainer: Emilio Jesús Gallego Arias <egallego@babel.ls.fi.upm.es>
Build-Depends: build-essential, debhelper (>= 5.0.0), texinfo, texi2html, texlive-latex-base | tetex-bin, texlive-latex-extra | tetex-extra, dvi2ps, dvi2dvi, gs-gpl | gs, gs-common, subversion, locate, emacs | emacs23 | emacs23-nox | emacs22 | emacs22-nox | emacs21 | emacs21-nox | emacsen, imagemagick, gcc-multilib [amd64], libgsl0-dev, virtual-mysql-client, virtual-mysql-server | mysql-server, mysql-common, libmysql-java, libmysql++-dev, libmysqlclient16 | libmysqlclient, libmysqlclient-dev, libmysqld-dev, libmysql-cil-dev, libppl-c-dev, ant, sun-java6-demo, sun-java6-javadb, sun-java6-source, bash, bash-static
Standards-Version: 3.7.2
Section: devel

Package: ciao-prolog
Section: devel
Architecture: i386 amd64 powerpc
Depends: ${shlibs:Depends}, ${misc:Depends}, ciao-prolog-libs, emacs | emacs23 | emacs23-nox | emacs22 | emacs22-nox | emacs21 | emacs21-nox | emacsen
Recommends: ciao-prolog-doc, ciao-prolog-el, libmysqlclient16 | libmysqlclient, sun-java6-jre, sun-java6-jdk, texlive-latex-base, texlive-latex-extra
Description: The Ciao Prolog Development Environment
 Ciao is an Open Source, next generation, multi-paradigm
 programming environment with a unique set of features:
 .
  - Ciao offers a complete Prolog system, supporting _ISO-Prolog_,
    but its novel modular design allows both _restricting_ and
    _extending_ the language.
  - Ciao also supports programming with functions, higher-order
    constraints, objects, as well as feature terms (records),
    persistence, several control rules (breadth-first search,
    iterative deepening, ...), concurrency (threads/engines), a good
    base for distributed execution (agents), and parallel execution.
    Libraries also support WWW programming, sockets, external
    interfaces (C, Java, TclTk, relational databases, etc.), etc.
  - Ciao produces small executables (including only those builtins used
    by the program) and support for writing scripts in Prolog.
  - The Ciao programming environment includes a classical
    top-level and a rich emacs interface with an embeddable
    source-level debugger and a number of execution visualization
    tools.

Package: ciao-prolog-libs
Section: devel
Architecture: i386 amd64 powerpc
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The Ciao Prolog Development Environment
 Ciao is an Open Source, next generation, multi-paradigm
 programming environment with a unique set of features.
 .
 This package includes the full set of libraries.

Package: ciao-prolog-doc
Section: devel
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: ciao-prolog, info-browser
Description: The Ciao Prolog Development Environment
 Ciao is an Open Source, next generation, multi-paradigm
 programming environment with a unique set of features.
 .
 This package includes the full ciao-prolog reference manual.

Package: ciao-prolog-el
Section: devel
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ciao-prolog, ciao-prolog-doc, emacs | emacs23 | emacs23-nox | emacs22 | emacs22-nox | emacs21 | emacs21-nox | emacsen
Description: The Ciao Prolog Development Environment
 Ciao is an Open Source, next generation, multi-paradigm
 programming environment with a unique set of features.
 .
 This packages includes the Ciao emacs mode, a full featured
 development enviroment for Ciao Prolog

